<div class="container mt-3" *ngIf="incomeList">
  <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
          <th scope="col">Date</th>
          <th class="text-center" scope="col">Operátor neve</th>
          <th class="text-center" scope="col">Modell neve</th>
          <th class="text-center" *ngFor="let site of uniqueSites" scope="col">{{site}}</th>
          <th class="text-center" scope="col" *ngIf="!isCurrentUser('Performer')">Operator</th>
          <th class="text-center" scope="col">Model</th>
          <th class="text-center" scope="col" *ngIf="isCurrentUser('Admin')">Studio</th>
          <th class="text-center" scope="col">Total</th>
          <th *ngIf="isCurrentUser('Operator') || isCurrentUser('Admin')"></th>
          <th *ngIf="isCurrentUser('Admin')"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of incomeList.incomeEntries">
          <td scope="row">{{entry.date | date:'yyyy-MM-dd'}}</td>
          <td class="text-right" [ngStyle]="{'background-color': isCurrentUser('Admin') ? entry.color : ''}">{{entry.operatorName}}</td>
          <td class="text-right" [ngStyle]="{'background-color': isCurrentUser('Admin') ? entry.color : ''}">{{entry.performerName}}</td>
          <td class="text-right" *ngFor="let site of uniqueSites">{{getIncomeChunk(entry, site)?.sum || 0 | currency}}</td>
          <td class="text-right" *ngIf="!isCurrentUser('Performer')">{{entry.totalIncomeForOperator | currency}}</td>
          <td class="text-right">{{entry.totalIncomeForPerformer | currency}}</td>
          <td class="text-right" *ngIf="isCurrentUser('Admin')">{{entry.totalIncomeForStudio | currency}}</td>
          <td class="text-right table-info">{{entry.totalSum | currency}}</td>
          <td class="text-right mt-0 pt-0 mb-0 pb-0" *ngIf="!isCurrentUser('Performer')">
              <button class="btn btn-primary btn-lg mt-2 pt-0 mb-0 pb-0" routerLink="/incomes/{{entry.id}}" [disabled]="isCurrentUser('Operator') && entry.locked" title="{{(isCurrentUser('Operator') && entry.locked) ? 'Income is locked, can\'t modify it anymore' : ''}}">Edit</button>
          </td>
          <td class="text-right mt-0 pt-0 mb-0 pb-0" *ngIf="isCurrentUser('Admin')">
            <button class="btn btn-success btn-lg mt-2 pt-0 mb-0 pb-0" *ngIf="!entry.locked" (click)="onLock(entry.operatorId, entry.id)">Lock</button>
            <button class="btn btn-danger btn-lg mt-2 pt-0 mb-0 pb-0" *ngIf="entry.locked" (click)="onUnlock(entry.operatorId, entry.id)">Unlock</button>
          </td>
        </tr>
        <tr class="table-primary">
            <td colspan="3" class="text-right">Átlag</td>
            <td class="text-right" *ngFor="let site of uniqueSites">{{getSiteStatistics(site)?.statistics.average || 0 | currency}}</td>
            <td class="text-right" *ngIf="!isCurrentUser('Performer')">{{incomeList.operatorStatistics.average | currency}}</td>
            <td class="text-right">{{incomeList.performerStatistics.average | currency}}</td>
            <td class="text-right" *ngIf="isCurrentUser('Admin')">{{incomeList.studioStatistics.average | currency}}</td>
            <td class="text-right table-info">{{incomeList.totalStatistics.average | currency}}</td>
        </tr>
        <tr class="table-primary">
            <td colspan="3" class="text-right">Összesen</td>
            <td class="text-right" *ngFor="let site of uniqueSites">{{getSiteStatistics(site)?.statistics.total || 0 | currency}}</td>
            <td class="text-right" *ngIf="!isCurrentUser('Performer')">{{incomeList.operatorStatistics.total | currency}}</td>
            <td class="text-right">{{incomeList.performerStatistics.total | currency}}</td>
            <td class="text-right" *ngIf="isCurrentUser('Admin')">{{incomeList.studioStatistics.total | currency}}</td>
            <td class="text-right table-info">{{incomeList.totalStatistics.total | currency}}</td>
        </tr>
      </tbody>
    </table>
</div>