<div class="container" *ngIf="incomeEntry && colleagues">
  <h1 class="text-center mt-4">Bevétel hozzáadás</h1>
  <hr>
  <div class="row">
      <div class="col-lg-2 col-sm-12"></div>
      <div class="col-lg-3 col-sm-12">
      <form (ngSubmit)="onSubmit()" #incomeForm="ngForm">

        <div class="form-group">
          <label for="datum">Dátum:</label>
          <input type="text"
          class="form-control"
          name="datum"
          id="datum"
          bsDatepicker 
          [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
          [(ngModel)]="incomeEntry.date"
          [disabled]="responseEntry"
          required>
        </div>

        <div *ngFor="let site of sites" class="form-group">
          <label [for]="site">{{site}}</label>
          <input type="number" placeholder="0.00" step=".1"
                class="form-control" [id]="site"
                [(ngModel)]="getIncomeChunk(site).income" [name]="site"
                #income="ngModel"
                [disabled]="responseEntry"
                >
        </div>

        <div class="form-group">
            <label for="performer">Modell:</label>
            <select class="custom-select form-control" name="performer" id="performer" [(ngModel)]="incomeEntry.performerId" required [disabled]="responseEntry">
              <option *ngFor="let colleague of colleagues" value="{{colleague.id}}" >{{colleague.userName}}</option>
            </select>
        </div>

        <button type="submit" class="float-right btn btn-primary btn-lg" [disabled]="!incomeForm.form.valid" *ngIf="!responseEntry">Hozzáad</button>
      </form>

      <button class="float-right btn btn-primary btn-lg" *ngIf="responseEntry" routerLink="/incomes/{{responseEntry.id}}">Szerkesztés</button>
      <button class="float-right btn btn-info btn-lg mr-3" *ngIf="responseEntry" routerLink="/incomes">Vissza</button>
    
    </div>
    <div class="col-lg-2 col-sm-12"></div>
    <div class="col-lg-3 col-sm-12" *ngIf="responseEntry">
      <div class="form-group">
        <label for="operator">Operátor:</label>
        <input type="text" class="form-control" name="operator" disabled [value]="responseEntry.totalIncomeForOperator | currency">
      </div>
      <div class="form-group">
        <label for="performer">Modell:</label>
        <input type="text" class="form-control" name="performer" disabled [value]="responseEntry.totalIncomeForPerformer | currency">
      </div>
      <div class="form-group">
        <label for="total">Összesen:</label>
        <input type="text" class="form-control" name="total" disabled [value]="responseEntry.totalSum | currency">
      </div>
    </div>
    <div class="col-lg-2 col-sm-12"></div>
  </div>
</div>