<div *ngIf="incomeEntry && colleagues">

  <div class="row">
      <div class="col-lg-4 col-sm-12"></div>
      <div class="col-lg-4 col-sm-12">

      <form (ngSubmit)="onSubmit()" #incomeForm="ngForm">

        <div class="form-group">
          <label for="datum">Dátum:</label>
          <input type="text"
          class="form-control"
          name="datum"
          id="datum"
          bsDatepicker 
          [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
          [(ngModel)]="incomeEntry.date"
          required>
        </div>

        <div class="form-group">
            <label for="performer">Modell:</label>
            <select form="incomeForm" class="custom-select form-control" name="performer" id="performer" [(ngModel)]="incomeEntry.performerId" (change)="getPerformerSites()" required>
              <option *ngFor="let colleague of colleagues" value="{{colleague.id}}" >{{colleague.userName}}</option>
            </select>
        </div>

        <div *ngFor="let site of availableSites" class="form-group">
          <label [for]="site">{{site}}</label>
          <div *ngIf="isSiteEur(site)">(EUR-ban megadott összeg leadás után automatikusan át lesz váltva USD-re)</div>
          <input type="number" placeholder="0.00" step=".1"
                class="form-control" [id]="site"
                [(ngModel)]="getIncomeChunk(site).income" [name]="site"
                #income="ngModel"
                required
                >
        </div>

        <button type="submit" class="float-right btn btn-primary btn-lg" [disabled]="!incomeForm.form.valid">Hozzáad</button>
      </form>
    </div>
    <div class="col-lg-4 col-sm-12"></div>
  </div>
</div>