<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
   <variable name="logDirectory" value="${basedir}\logs"/>
    
  <targets>
    
    <target xsi:type="File" name="allfile" fileName="${logDirectory}\ag-all-${shortdate}.log"
      layout="${longdate}|${uppercase:${level}}|${threadid}|${logger}|${message} ${exception:format=ToString,StackTrace}" />

    <target xsi:type="File" name="ownFile" fileName="${logDirectory}\ag-own-${shortdate}.log"
      layout="${longdate}|${uppercase:${level}}|${threadid}|${logger}|${message} ${exception:format=ToString,StackTrace}" />
  
      <target xsi:type="Null" name="blackhole" />
      <target xsi:type="NLogViewer" name="viewer" address="udp://127.0.0.1:9999" />
  </targets>
  <rules>
    All logs, including from Microsoft
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />

    Skip Microsoft logs and so log only own logs
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>