<div class="container">
  <form (ngSubmit)="onGetIncomes()" #incomeEditForm="ngForm">
    <div class="row mt-2">
      <div class="col-lg-3 col-sm-4 form-group" *ngIf="isCurrentUser('Admin')">
        <label for="userName">Modell:</label>
        <input type="text" class="form-control" id="userName"
               name="userName" [(ngModel)]="incomeFilters.userName">
     </div>
     <div class="col-lg-3 col-sm-4 form-group">
        <label for="date">Hónap:</label>
        <input type="text"
               class="form-control"
               name="date"
               id="date"
               [bsConfig]="{ dateInputFormat: 'YYYY.MM', minMode : 'month' }"
               #dp="bsDatepicker"
               bsDatepicker
               [(ngModel)]="incomeFilters.month"
               required
               autocomplete="off"
               >
      </div>
      <div class="col-lg-2 col-sm-4 form-group">
        <label for="period">Periódus:</label>
          <div class="custom-control custom-radio">
            <input type="radio" id="period1" name="period" class="custom-control-input" checked [value]="1" [(ngModel)]="incomeFilters.period">
            <label class="custom-control-label" for="period1">1</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="period2" name="period" class="custom-control-input" [value]="2" [(ngModel)]="incomeFilters.period">
            <label class="custom-control-label" for="period2">2</label>
          </div>
      </div>
      <div class="col-lg-2 col-sm-4 form-group" *ngIf="isCurrentUser('Admin')">
        <div class="mt-4 custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="hideLocked" name="hideLocked" [(ngModel)]="incomeFilters.hideLocked">
          <label class="custom-control-label" for="hideLocked">Csak lezáratlan</label>
        </div>
      </div>

      <div class="col-lg-2 col-sm-8">
        <button type="submit" class="mt-3 float-right btn btn-primary btn-sm">GetIncomes</button>
      </div>
   </div>
  </form>
</div>

<app-income-list #incomeList></app-income-list>