<div class="container mt-5">
      <table class="table table-dark table-striped">
          <thead>
              <tr>
                <th scope="col">Dátum</th>
                <th scope="col">X</th>
              </tr>
            </thead>
        <tbody class="table-striped">
        <tr *ngFor="let date of availableDates">
            <th scope="row">{{date | date: "yyyy.MM.dd"}}</th>
            <td>
                 <button class="btn" [ngClass]="{'btn-success': isWorkDay(date)}" (click)="addWorkDay(date)">Dolgozok</button>
                 <button class="btn" [ngClass]="{'btn-secondary': !isWorkDay(date)}"(click)="removeWorkDay(date)">Nem dolgozok</button>
            </td>
        </tr>
      </tbody>
      </table>
  </div>