<div class="container mt-3" *ngIf="users">
  <form (ngSubmit)="onSubmit()" #editForm="ngForm">
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control" id="userName"
              required
              [(ngModel)]="userForEdit.userName" name="userName">
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  class="form-control" id="password"
              [(ngModel)]="userForEdit.password" name="password">
      </div>
  
      <div class="form-group">
        <label for="repassword">Re-enter password</label>
        <input type="password"  class="form-control" id="repassword"
              [(ngModel)]="rePassword" name="repassword">
      </div>

      <div class="form-group">
          <label for="minPercent">Minimum income percent:</label>
          <input type="number"  class="form-control" id="minPercent"
                 required
                [(ngModel)]="userForEdit.minPercent" name="minPercent">
      </div>

      <div class="form-group">
          <label for="maxPercent">Maximum income percent:</label>
          <input type="number"  class="form-control" id="maxPercent"
                 required
                [(ngModel)]="userForEdit.maxPercent" name="maxPercent">
      </div>

      <div class="form-group">
        <label for="color">Color:</label>
        <select class="custom-select form-control" name="color" id="color" [(ngModel)]="userForEdit.color" required [ngStyle]="{'background-color': userForEdit.color}">
          <option *ngFor="let color of colors" value="{{color}}" [ngStyle]="{'background-color': color}"></option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="siteSelect">User sites:</label>
        <select multiple class="custom-select form-control" [(ngModel)]="userForEdit.sites" id="siteSelect" name="siteSelect" required>
          <option *ngFor="let site of sites" value="{{site}}">{{site}}</option>
        </select>
      </div>
     
      <button type="submit" class="float-right btn btn-primary btn-lg" [disabled]="!editForm.form.valid">Save</button>
    </form>

    <button class="float-right btn btn-info btn-lg mr-3" (click)="onCancel()">Cancel changes</button>

  <div class="col-lg-4 col-sm-12" *ngIf="hasRole(user, 'Operator') || hasRole(user, 'Performer')">
    <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">User name</th>
            <th class="text-center" scope="col">Role</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td scope="row">{{user.userName}}</td>
            <td class="text-right">{{user.role}}</td>
            <td class="text-right">
                <button *ngIf="isUserColleague(user)" (click)="removeLink(user.id)" class="btn btn-danger btn-sm text-center">Remove link</button>
                <button *ngIf="!isUserColleague(user)" (click)="addLink(user.id)" class="btn btn-success btn-sm text-center">Add link</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>