<div class="container mt-3" *ngIf="users">
  <div *ngIf="user">
    <p>
      USER EDIT: {{user.userName}}
    </p>
  </div>

  <div class="col-lg-4 col-sm-12" *ngIf="hasRole(user, 'Operator') || hasRole(user, 'Performer')">
    <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">User name</th>
            <th class="text-center" scope="col">Role</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td scope="row">{{user.userName}}</td>
            <td class="text-right">{{user.role}}</td>
            <td class="text-right">
                <button *ngIf="isUserColleague(user)" (click)="removeLink(user.id)" class="btn btn-danger btn-sm text-center">Remove link</button>
                <button *ngIf="!isUserColleague(user)" (click)="addLink(user.id)" class="btn btn-success btn-sm text-center">Add link</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>